# Dick_200428



### JetBrains ###

.idea/
.vscode/



### Other ###

.DS_Store



### Different from local and server *_local, *_server ###

# Setting

assets/uploads/
/application/config/database.php


# node
node_modules/
npm-debug.log





